/DiskSpaceCheck/DiskSpaceCheck.vbproj
/DiskSpaceCheck/DiskSpaceCheck.vbproj.user
/DiskSpaceCheck/My Project/
/DiskSpaceCheck/bin/
/DiskSpaceCheck/frmMain.resx
/DiskSpaceCheck/obj/
/DiskSpaceCheck/text_columns.ico
*.sln
*.suo